# Logistic Regression

DV - Atrrition(Y/N)

In [64]:
import numpy as np
import pandas as pd
df=pd.read_csv("general_data.csv")
df.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [65]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [67]:
df['NumCompaniesWorked']=df['NumCompaniesWorked'].fillna(df['NumCompaniesWorked'].mean())
df.isnull().sum().sum()

9

In [68]:
df['TotalWorkingYears']=df['TotalWorkingYears'].fillna(df['TotalWorkingYears'].mean())
df.isnull().sum().sum()

0

In [69]:
objList = df.select_dtypes(include = "object").columns
print (objList)

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18'],
      dtype='object')

In [70]:
#Label Encoding for object to numeric conversion
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    df[feat] = le.fit_transform(df[feat].astype(str))

df.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4
5,46,0,2,1,8,3,1,1,6,0,...,3.0,0,13,8,0,28.0,5,7,7,7
6,28,1,2,1,11,2,3,1,7,1,...,2.0,0,20,8,1,5.0,2,0,0,0
7,29,0,2,1,18,3,1,1,8,1,...,2.0,0,22,8,3,10.0,2,0,0,0
8,31,0,2,1,1,3,1,1,9,1,...,0.0,0,21,8,0,10.0,2,9,7,8
9,25,0,0,1,7,4,3,1,10,0,...,1.0,0,13,8,1,6.0,2,6,1,5

In [71]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of       Age  Attrition  BusinessTravel  Department  DistanceFromHome  Education  \
0      51          0               2           2                 6          2
1      31          1               1           1                10          1
2      32          0               1           1                17          4
3      38          0               0           1                 2          5
4      32          0               2           1                10          1
...   ...        ...             ...         ...               ...        ...
4405   42          0               2           1                 5          4
4406   29          0               2           1                 2          4
4407   25          0               2           1                25          2
4408   42          0               2           2                18          2
4409   40          0               2           1                28          3

      EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0                  1              1           1       0  ...
1                  1              1           2       0  ...
2                  4              1           3       1  ...
3                  1              1           4       1  ...
4                  3              1           5       1  ...
...              ...            ...         ...     ...  ...
4405               3              1        4406       0  ...
4406               3              1        4407       1  ...
4407               1              1        4408       1  ...
4408               3              1        4409       1  ...
4409               3              1        4410       1  ...

      NumCompaniesWorked  Over18  PercentSalaryHike  StandardHours  \
0                    1.0       0                 11              8
1                    0.0       0                 23              8
2                    1.0       0                 15              8
3                    3.0       0                 11              8
4                    4.0       0                 12              8
...                  ...     ...                ...            ...
4405                 3.0       0                 17              8
4406                 2.0       0                 15              8
4407                 0.0       0                 20              8
4408                 0.0       0                 14              8
4409                 0.0       0                 12              8

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0           1.000000                      6
1                    1           6.000000                      3
2                    3           5.000000                      2
3                    3          13.000000                      5
4                    2           9.000000                      2
...                ...                ...                    ...
4405                 1          10.000000                      5
4406                 0          10.000000                      2
4407                 0           5.000000                      4
4408                 1          10.000000                      2
4409                 0          11.279936                      6

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0                  1                        0                     0
1                  5                        1                     4
2                  5                        0                     3
3                  8                        7                     5
4                  6                        0                     4
...              ...                      ...                   ...
4405               3                        0                     2
4406               3                        0                     2
4407               4                        1                     2
4408               9                        7                     8
4409              21                        3                     9

[4410 rows x 24 columns]>

In [72]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [73]:
df['NumCompaniesWorked'].isna().sum()

0

In [74]:
y=df['Attrition']
X=df[['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']]

In [75]:
import statsmodels.api as sm
X1=sm.add_constant(X)
Logistic=sm.Logit(y,X1)
result=Logistic.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.393016
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4390
Method:                           MLE   Df Model:                           19
Date:                Wed, 12 Aug 2020   Pseudo R-squ.:                  0.1102
Time:                        16:57:15   Log-Likelihood:                -1733.2
converged:                       True   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                 3.381e-79
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0759      0.414      0.183      0.855      -0.735       0.887
Age                        -0.0309      0.007     -4.524      0.000      -0.044      -0.018
BusinessTravel             -0.0177      0.065     -0.270      0.787      -0.146       0.111
Department                 -0.2423      0.081     -2.981      0.003      -0.402      -0.083
DistanceFromHome           -0.0013      0.005     -0.247      0.805      -0.012       0.009
Education                  -0.0628      0.043     -1.473      0.141      -0.146       0.021
EducationField             -0.0966      0.033     -2.894      0.004      -0.162      -0.031
Gender                      0.0860      0.090      0.961      0.337      -0.089       0.262
JobLevel                   -0.0241      0.040     -0.608      0.543      -0.102       0.054
JobRole                     0.0377      0.018      2.108      0.035       0.003       0.073
MaritalStatus               0.5887      0.063      9.323      0.000       0.465       0.712
MonthlyIncome           -1.874e-06   9.56e-07     -1.961      0.050   -3.75e-06   -6.75e-10
NumCompaniesWorked          0.1163      0.018      6.338      0.000       0.080       0.152
PercentSalaryHike           0.0118      0.012      1.005      0.315      -0.011       0.035
StockOptionLevel           -0.0639      0.052     -1.238      0.216      -0.165       0.037
TotalWorkingYears          -0.0574      0.012     -4.819      0.000      -0.081      -0.034
TrainingTimesLastYear      -0.1467      0.035     -4.171      0.000      -0.216      -0.078
YearsAtCompany              0.0120      0.018      0.656      0.512      -0.024       0.048
YearsSinceLastPromotion     0.1322      0.020      6.459      0.000       0.092       0.172
YearsWithCurrManager       -0.1395      0.022     -6.308      0.000      -0.183      -0.096
===========================================================================================
"""

The features that are significantly important for deciding the attrition(P<0.05):

Age, Department, EducationField	, JobRole , MaritalStatus, NumCompaniesWorked , YearsSinceLastPromotion, YearsWithCurrManager, TotalWorkingYears, TrainingTimesLastYear